* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  font-family: 'arial';
  font-style: italic;
}

.hero {
  width: 15%;
  margin: 20rem auto;
}

.hero-icons {
  font-size: 1.75rem;
  width: 75%;
  margin: 0.5rem auto;
}
